# فایل‌های اصلی وردپرس
wp-admin/
wp-includes/

# فایل‌های تنظیمات
wp-config.php

# پوشه‌های آپلود و محتوا
wp-content/uploads/
wp-content/upgrade/

# افزونه‌ها و پوسته‌ها
wp-content/plugins/
wp-content/themes/*

# فایل‌های پشتیبان، log، و فایل‌های سیستمی
*.log
*.sql
*.sqlite
*.tar.gz
*.zip
*.tmp
*.bak

# فایل‌های موقت و سیستمی
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
*.swn
*.orig

# فایل‌های مخفی و پیکربندی لوکال
.env
.env.local
.env.*.local
